    <div ng-controller="addCategoriesController">
      <h1 style = "color:#fff;">Add New Category</h1>
      <div ng-show="isCategoryAdded" class="alert alert-success" role="alert">Success, your category is saved</div>
      <form role="form" style ="color: #fff;background-color: #CABA33;">
      <div class="col-md-4 col-sm-4" >

          <div style ="color: #fff;background-color: #CABA33;">
             <h4 class="text-center">Icon Preview</h4>
            <span style=" height: 280px; padding-top: 100px; padding-left: 150px;" class="center-block fa fa-{{iconName}} fa-5x"></span>
          </div>




      </div>
      <div class="row">
        <div class="col-md-6 pull-left">

          <div class="form-group">

            <label for="">Icon</label>
            <button ng-click="close()" type="button" class="close"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
            <input class="form-control" ng-model="iconName"  placeholder="Search icon here" typeahead="icon for icon in icons | filter:$viewValue | limitTo:8">



          </div>
          <div class="form-group">
            <label for="">Category Type</label>
          </div>
          <div class="form-group">

            <label class="radio-inline">
              <input ng-model="categoryType" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="Primary"> Primary
            </label>
            <label class="radio-inline">
              <input ng-model="categoryType" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="Secondary"> Secondary
            </label>
            <label class="radio-inline">
              <input ng-model="categoryType" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="Tertiary"> Tertiary
            </label>
          </div>
          <div class="form-group">
            <label for="">Category name</label>
            <input ng-model="categoryName" class="form-control"  placeholder="Enter Category Name">
          </div>
          <div ng-show="categoryType === 'Secondary'" class="form-group">
            <label for="">{{categoryName}} is secondary category to</label>
            <input ng-model="categoryPrimary" class="form-control"  placeholder="Enter primary Category Name">
          </div>
          <div ng-show="categoryType === 'Tertiary'" class="form-group">
            <label for="">{{categoryName}} is tertiary category to</label>
            <input ng-model="categorySecondary" class="form-control"  placeholder="Enter secondary Category Name">
          </div>
          <button ng-click="addNewCategory()" type="submit" class="btn btn-default">Add</button>



        </div>

      </div>

    </form>


    </div>
