<div ng-controller="addIncomeController">
    <h1 style = "color:#fff;">Add an Income</h1>
    <form name='incomeForm' ng-show="isClientAuthenticated" ng-submit="addIncome()" role="form" novalidate style ="color: #fff;background-color: #CABA33; padding:10px">
        <div class="form-group" ng-class="{ 'has-error' : incomeForm.Amount.$invalid && !incomeForm.Amount.$pristine }">
            <label for="">Amount</label>
            <input ng-model="Amount" class="form-control" name='Amount' placeholder="Enter Amount" ng-pattern="/^[0-9]{1,7}$/" required>
            <p ng-show="incomeForm.Amount.$dirty && incomeForm.Amount.$invalid && !incomeForm.Amount.$error.pattern" class="validationError">Income Amount is required.</p>
            <p ng-show="incomeForm.Amount.$dirty && incomeForm.Amount.$error.pattern" class="validationError">Enter a valid amount</p>
        </div>
        <div class="form-group">
            <label for="">Source</label>
            <input ng-model="source" name="source" typeahead="category for category in categories | filter:$viewValue | limitTo:8" class="form-control"  placeholder="Source" ng-pattern="/^[a-zA-Z]/"required>
             <p ng-show="incomeForm.source.$dirty && incomeForm.source.$invalid && !incomeForm.source.$error.pattern"  class="validationError">Please enter source name</p>
              <p ng-show="incomeForm.source.$dirty && incomeForm.source.$error.pattern" class="validationError">Enter a String</p>
             
        </div>
        <div class="form-group">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
            <span class="input-group-btn">
              <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
            </span>
            </p>
        </div>
        <div class="form-group">
            <label for="">Source</label>
            <p>{{thisExpenseTags.toString()}}</p>
            <ul  id="expense_tag_handler" class="tagHandlerContainer">
            </ul>

        </div>


        <div ng-show="isIncomeAdded" class="alert alert-success" role="alert">Success, your income is saved</div>
        <button type="submit" class="btn btn-default" ng-disabled="incomeForm.Amount.$invalid || incomeForm.source.$invalid" >Save Income</button>
    </form>

</div>
