<div ng-controller="showExpensesByTagsController">

    <h1 style="color: #fff;">My Expenses By <!--{{showTagName}}--></h1>
    <div class="col-md-6" id="tagCloud"></div>

    <!--<h2 style="color: #fff;">Total = {{total}}</h2> -->
    <form class="form-inline">
        <div class="form-group">
            <label class="sr-only">Choose Tag</label>
            <input type="text" typeahead="tag for tag in tags | filter:$viewValue | limitTo:8" class="form-control" ng-model="showTagName" placeholder="Search Tags">
        </div>
        <button ng-click="getExpenses()" type="submit" class="btn btn-default">Show</button>
    </form>

    <table class="table table-striped table-hover table-responsive">
        <thead>
        <tr>
            <th>Edit</th>
            <th>Category</th>
            <th>Amount</th>
            <th>Day</th>
            <th>Month</th>
            <th>Year</th>
            <th>Tags</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="expense in expenses">
            <td><button class="btn btn-default" ng-click="open(expense)"><i class="fa fa-edit"></i></button></td>
            <td>{{expense.get('category')}}</td>
            <td>{{expense.get('amount')}}</td>
            <td>{{expense.get('date')}}</td>
            <td>{{expense.get('month')}}</td>
            <td>{{expense.get('year')}}</td>
            <td>{{expense.get('tags').toArray()}}</td>
            <td><button class="btn btn-default" ng-click="delete(expense)"><i class="fa fa-trash"></i></button></td>
        </tr>
        </tbody>
    </table>

    <script type="text/ng-template" id="editExpenseModal.html">
        <div class="modal-header">
            <h3 class="modal-title">Edit Expense</h3>
        </div>
        <div class="modal-body">
            <form role="form">
                <div class="form-group">
                    <label for="">Amount</label>
                    <input ng-model="editExpenseAmount" class="form-control">
                </div>
                <div class="form-group">
                    <label for="">Category</label>
                    <input ng-model="editExpenseCategory" class="form-control">
                </div>
                <div class="form-group">
                    <p class="input-group">
                        <input type="text" class="form-control" datepicker-popup="dd-MMMM-yyyy" ng-model="dt" is-open="opened"  datepicker-options="dateOptions" date-disabled="disabled(date, mode)" ng-required="true" close-text="Close" />
  <span class="input-group-btn">
  <button type="button" class="btn btn-default" ng-click="open($event)"><i class="fa fa-calendar"></i></button>
  </span>
                    </p>
                </div>
                <div class="form-group">
                    <label for="">Tags</label>
                    <p>{{thisExpenseTags.toString()}}</p>
                    <ul  id="edit_expense_tag_handler" class="tagHandlerContainer">
                    </ul>

                </div>
            </form>

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="saveEditExpense()">Save</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

</div>
